# Ignore everything by default that's not needed for builds
**/.git
**/.gitignore
**/.github
**/.vscode
**/.idea
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.tox
**/*.egg-info
**/dist
**/build
**/node_modules
**/playwright-report
**/test-results
**/*.log
**/*.pid
logs
venv
.venv
.env
.env.*
.qcache
